:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Gilmer';
  src: url('/fonts/Gilmer-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilmer';
  src: url('/fonts/Gilmer-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilmer';
  src: url('/fonts/Gilmer-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilmer';
  src: url('/fonts/Gilmer-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gilmer', Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  border-bottom: 1px solid #E2EDF7;
  background: #F4FAFF;
  padding: 24px 64px;
}

.primary-btn {
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid #2A89F6;
  background: #2A89F6;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.primary-btn:hover {
  background: #126FD9;
  border: 1px solid #126FD9
}

.primary-btn.mobile {
  display: none;
}


.navbar {
  padding: 0px;
}

.navbar-toggler {
  background-color: transparent;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-collapse .navbar-nav {
  padding: 0px;
}

.navbar-brand {
  padding: 0px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0px 12px;
}

.nav-item:last-child {
  padding-right: 0px;
}

.nav-link {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  cursor: pointer;
}

.nav-link:hover {
  color: #2A89F6;
}

.nav-link.active {
  color: #2A89F6 !important;
}

@media (max-width: 767.98px) {

  .primary-btn.header-btn {
    display: none;
  }

  .header {
    padding: 10px 15px;
  }

  .primary-btn.mobile {
    display: inline-block;
    width: 100%;
  }

  .nav-link {
    padding: 15px 0px;
  }
}

/* Hero Section Styling */
.hero-section {
  background-color: #F4FAFF;
  padding: 100px 0px 0px;
}

.hero-text {
  text-align: left;
  margin-bottom: 40px;
}

.practitioners-container {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 9999px;
  border: 1px solid #68AAF1;
  background: #E2EDF7;
  width: fit-content;
}

.practitioners-text {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.hero-title {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.hero-subtitle {
  color: #475467;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 32px;
  margin-top: 16px;
}

.subscribe-form input {
  padding: 14px 20px;
  font-size: 16px;
  border-radius: var(--radius-md, 8px) var(--radius-none, 0px) var(--radius-none, 0px) var(--radius-md, 8px);
  border-top: 1px solid var(--Blue-Secondary, #68AAF1);
  border-bottom: 1px solid var(--Blue-Secondary, #68AAF1);
  border-left: 1px solid var(--Blue-Secondary, #68AAF1);
  background: var(--Colors-Background-bg-primary, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.subscribe-form button {
  display: flex;
  padding: var(--spacing-lg, 12px) 18px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm, 6px);
  align-self: stretch;
  border-radius: var(--radius-none, 0px) var(--radius-md, 8px) var(--radius-md, 8px) var(--radius-none, 0px);
  border: 1px solid var(--Blue-Primary, #2A89F6);
  background: var(--Blue-Primary, #2A89F6);

  /* Shadows/shadow-xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--Component-colors-Components-Buttons-Primary-button-primary-fg, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

.subscribe-form button:hover {
  background-color: #126FD9;
}

.hero-image {
  position: relative;
}

.jenna-tag {
  position: absolute;
  top: 50%;
  right: 5%;
  display: inline-flex;
  padding: 23.902px 19.421px;
  justify-content: center;
  align-items: center;
  gap: 14.939px;
  border-radius: 23.902px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(4.5px);
}

.jenna-tag p {
  color: #FFF;
  font-size: 35.854px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 43.024px */
  margin-bottom: 0px;
}

.tag-text {
  font-size: 16px;
  font-weight: 500;
  color: #171717;
}

.wave {
  animation: wave-animation 2s infinite;
}

/* Wave animation */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 767px) {
  .hero-section {
    padding: 85px 0px 0px;
  }

  .hero-title {
    font-size: 32px;
    line-height: 120%;
  }

  .hero-subtitle {
    font-size: 16px;
  }

  .hero-text {
    text-align: center;
  }

  .practitioners-text {
    font-size: 12px;
  }

  .jenna-tag p {
    font-size: 20px;
  }

  .hero-image {
    width: 100%;
    height: auto;
  }
}

/* Clients Logo Section Styling */
.clients-logo-section {
  background-color: #ffffff;
  margin-top: 42px;
}

.clients-partners-text {
  color: var(--colors-text-text-tertiary-600, #475467);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.logos-wrapper {
  overflow: hidden;
  /* Ensures the logos only appear inside the wrapper */
  margin-top: 32px;
}

.logos-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide 20s linear infinite;
  /* Animation duration and loop */
}

.logos {
  display: flex;
  gap: 40px;
  /* Space between logos */
}

.logos img {
  width: 167px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
    /* Start at initial position */
  }

  100% {
    transform: translateX(-50%);
    /* Slide left */
  }
}

@media (max-width: 767px) {

  .clients-logo-section {
    margin-top: 20px;
  }

  .logos-wrapper {
    margin-top: 16px;
  }

  .logos {
    gap: 20px;
  }

  .logos img {
    width: 100px;
  }

  .clients-partners-text {
    font-size: 12px;
  }
}


/* How It Works Section */
.how-it-works-section {
  margin-top: 130px;
}

.how-it-works-section .section-title {
  color: var(--Fill-Palette-LS-Blue, #000032);
  font-size: 42px;
  font-weight: 600;
  line-height: 130%;
  /* 54.6px */
  margin-bottom: 32px;
}

.section-title .highlight-text {
  font-weight: 700;
  display: block;
}

.step-card {
  padding: 57px 30px;
  border: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
  background: #FFF;
  transition: background 0.5s ease, border-color 0.3s ease;
  position: relative;
}

.step-card:first-child {
  border-right: 0px;
  border-radius: 16px 0px 0px 16px;
}

.step-card:last-child {
  border-left: 0px;
  border-radius: 0px 16px 16px 0px;
}

.step-card:hover {
  background: linear-gradient(to right, #E2EDF7, #F4FAFF);
  /* Gradient animation */
  border: 1px solid;
  border-color: #2A89F6;

}

.step-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.step-number {
  color: var(--colors-foreground-fg-senary-300, #D0D5DD);
  font-size: 24px;
  font-weight: 700;
}

.step-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #2A89F6;
}

.step-title {
  color: var(--Fill-Palette-LS-Blue, #000032);
  font-size: 24px;
  font-weight: 700;
  margin-top: 42px;
}

.step-description {
  color: var(--colors-text-text-tertiary-600, #475467);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  /* 24px */
  margin-top: 21px;
}

@media (max-width: 767px) {

  .how-it-works-section {
    margin-top: 60px;
  }

  .how-it-works-section .section-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .step-card {
    padding: 40px 24px;
  }

  .step-number {
    font-size: 24px;
  }

  .step-title {
    font-size: 20px;
  }

  .step-description {
    font-size: 16px;
  }

  .step-card:first-child {
    border-bottom: 0px;
    border-right: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
    border-radius: 16px 16px 0px 0px;
  }

  .step-card:last-child {
    border-top: 0px;
    border-left: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
    border-radius: 0px 0px 16px 16px;
  }

  .step-card:hover {
    background: linear-gradient(to right, #E2EDF7, #F4FAFF);
    /* Gradient animation */
    border: 1px solid;
    border-color: #2A89F6;

  }

}


/* Why Choose Section */
.why-choose-section {
  margin-top: 100px;
}

.why-choose-section .section-title {
  color: var(--Fill-Palette-LS-Blue, #000032);
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 54.6px */
  margin-bottom: 68px;
}

.section-title .highlight-text {
  font-weight: 700;
}

.why-choose-image {
  width: 100%;
  height: auto;
}

/* Reasons List */
.reasons-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reason-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
}

.reason-icon {
  margin-right: 42px;
}

.reason-title {
  color: var(--Fill-Palette-LS-Blue, #000032);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 28.8px */
}

.reason-description {
  color: var(--colors-text-text-tertiary-600, #475467);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 27px */
  letter-spacing: -0.36px;
}

/* Responsive Design */
@media (max-width: 767px) {
  .why-choose-section {
    margin-top: 60px;
  }

  .why-choose-section .section-title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .reason-title {
    font-size: 20px;
  }

  .reason-description {
    font-size: 16px;
  }

  .reason-icon {
    margin-right: 16px;
  }

  .reason-icon img {
    width: 32px;
    height: 32px;
  }
}

/*Demo Section Styles*/

.demo-margin {
  margin-top: 130px;
}

.demo-section {
  display: flex;
  flex-direction: column;
  padding: 70px 71.677px 0px 71px;
  border-radius: var(--radius-4xl, 24px);
  background: var(--Blue-Primary, #2A89F6);
  gap: 62px;
}

.demo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.demo-title {
  color: var(--White, #FFF);
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 54.6px */
}

.highlight-text {
  font-weight: 700;
  display: inline;
}

.secondary-btn {
  display: inline-flex;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: background-color 0.3s ease;
}

.secondary-btn:hover {
  background-color: #e2e8f0;
}

.secondary-btn .arrow-right {
  font-size: 20px;
}

.dashboard-image-wrapper {
  text-align: right;
}

.dashboard-image {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

@media (max-width: 767px) {

  .demo-margin {
    margin-top: 60px;
  }

  .demo-section {
    padding: 30px 20px;
    border-radius: 0px;
  }

  .demo-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .demo-title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .dashboard-image-wrapper {
    text-align: center;
    margin-top: 20px;
  }

  .dashboard-image {
    max-width: 100%;
  }
}

.growth-stats-section {
  margin-top: 100px;
}

.growth-stats-section .section-title {
  color: #000032;
  font-size: 42px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 64px;
  max-width: 540px;
}

.stats-row {
  display: flex;
  justify-content: space-between;
}

.stat-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  gap: 24px;
}

.stat-number {
  color: var(--Black, #000);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  /* 120% */
  letter-spacing: -1.2px;
}

.stat-label {
  color: var(--colors-text-text-quaternary-500, #667085);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 28.8px */
}

.cta-title {
  color: var(--Black, #000);
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 54.6px */
  max-width: 840px;
  margin-bottom: 32px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  max-width: 550px;
}

.email-input {
  padding: 14px;
  font-size: 16px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #2a89f6;
  width: 100%;
}

.btn-primary {
  border-radius: 0 8px 8px 0;
  background-color: #2a89f6;
  color: white;
  padding: 14px 24px;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #126fd9;
}

hr {

  border: 1px solid #D0D5DD;
  margin: 64px 0;
}

@media (max-width: 767px) {

  .growth-stats-section {
    margin-top: 60px;
  }

  .growth-stats-section .section-title {
    font-size: 24px;
  }

  .stats-row {
    flex-direction: column;
    gap: 16px;
  }

  .stat-number {
    font-size: 48px;
  }

  .cta-title {
    font-size: 24px;
  }

  hr {
    margin: 32px 0px;
  }
}

.testimonial-section {
  margin-top: 130px;
  background-color: #2A89F6;
  padding: var(--spacing-7xl, 64px) var(--spacing-6xl, 48px);
  color: #FFF;
}

.testimonial-title {
  text-align: center;
  color: #FFF;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 64px;
}

.highlight-text {
  font-weight: 700;
}

.testimonials-row {
  display: flex;
  justify-content: space-between;
}

.testimonial-card {
  background: #FFF;
  color: #000;
  padding: 48px 32px;
  border-radius: 16px;
  transition: box-shadow 0.3s ease;
  height: 100%;
}

.testimonial-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.counter {
  color: var(--Blue-Primary, #2A89F6);
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  /* 125% */
  letter-spacing: -1.44px;
}

.counter-label {
  color: var(--Colors-Text-text-tertiary_hover, #344054);

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}

.testimonial-description {
  font-size: 16px;
  margin-bottom: 24px;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-image {
  border-radius: 50%;
}

.author-name {
  color: var(--Dark, #080708);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
}

.author-position {
  color: rgba(8, 7, 8, 0.60);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
}

@media (max-width: 767px) {

  .testimonial-section {
    margin-top: 60px;
    padding: 56px 16px;
  }

  .testimonial-title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .testimonials-row {
    flex-direction: column;
    gap: 20px;
  }

  .testimonial-card {
    padding: 32px 16px;
  }

  .counter {
    font-size: 48px;
  }

  .counter-label {
    font-size: 16px;
  }
}


.faq-section {
  margin-top: 130px;
}

.faq-container {
  width: 940px;
}

.faq-title {
  color: var(--Black, #000);
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 54.6px */
}

.faq-title .highlight-text {
  font-weight: 700;
  display: block;
}

.tabs-wrapper {
  margin-top: 100px;
  margin-bottom: 32px;

}

.faq-tabs {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-item {
  padding: 12px 24px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  color: var(--Colors-Text-text-disabled, #667085);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 38.4px */
}

.tab-item.active {
  border-bottom: 2px solid #2A89F6;
  color: #2A89F6;
}

.faq-accordion {
  margin-top: 99px;
}

.faq-item {
  margin-bottom: 42px;
  padding-bottom: 42px;
  border-bottom: 1px solid #D0D5DD;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  color: var(--Fill-Palette-LS-Blue, #000032);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 28.8px */
  cursor: pointer;

}

.faq-icon {
  font-size: 32px;
  padding-left: 20px;
  font-weight: 700;
}

.faq-answer {
  margin-top: 12px;
  color: var(--colors-text-text-tertiary-600, #475467);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 27px */
}

@media (max-width: 767px) {

  .faq-section {
    margin-top: 70px;
  }

  .faq-container {
    width: 100%;
  }

  .faq-title {
    font-size: 24px;
  }

  .faq-item {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }

  .dropdown {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .faq-accordion {
    margin-top: 40px;
  }

  .faq-question {
    font-size: 18px;
  }

  .faq-answer {
    font-size: 14px;
  }

  .faq-icon {
    font-size: 24px;
  }
}

.footer-section {
  margin-top: 100px;
  padding: 64px 0 48px;
  border-top: 1px solid var(--Colors-Border-border-primary, #D0D5DD);
background: var(--Colors-Background-bg-primary, #FFF);
}

.footer-logo {
  font-size: 24px;
  font-weight: 700;
  color: #171717;
  margin-bottom: 16px;
}

.footer-description {
  font-size: 16px;
  color: #475467;
}

.footer-heading {
  font-size: 18px;
  font-weight: 600;
  color: #171717;
  margin-bottom: 16px;
}

.footer-secondary {
  border-top: 1px solid var(--Colors-Border-border-primary, #D0D5DD);
  padding-top: 32px;
margin-top: 64px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  color: #475467;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #2A89F6;
}

.new-badge {
  position: relative;
}

.new-badge .badge {
  background-color: #2A89F6;
  color: white;
  font-size: 12px;
  border-radius: 12px;
  padding: 2px 8px;
  margin-left: 6px;
}

.footer-subscribe {
  display: flex;
  max-width: 400px;
  margin-top: 16px;
}

.footer-subscribe input {
  padding: 14px 20px;
  font-size: 16px;
  border-radius: var(--radius-md, 8px) var(--radius-none, 0px) var(--radius-none, 0px) var(--radius-md, 8px);
  border-top: 1px solid var(--Blue-Secondary, #68AAF1);
  border-bottom: 1px solid var(--Blue-Secondary, #68AAF1);
  border-left: 1px solid var(--Blue-Secondary, #68AAF1);
  background: var(--Colors-Background-bg-primary, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.footer-subscribe button {
  display: flex;
  padding: var(--spacing-lg, 12px) 18px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm, 6px);
  align-self: stretch;
  border-radius: var(--radius-none, 0px) var(--radius-md, 8px) var(--radius-md, 8px) var(--radius-none, 0px);
  border: 1px solid var(--Blue-Primary, #2A89F6);
  background: var(--Blue-Primary, #2A89F6);

  /* Shadows/shadow-xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--Component-colors-Components-Buttons-Primary-button-primary-fg, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

.footer-subscribe button:hover {
  background-color: #126fd9;
}

.footer-social {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 24px;
}

.footer-social li {
  display: inline-block;
}

.footer-social a {
  color: #475467;
}

.footer-social a:hover {
  color: #2A89F6;
}

.footer-copyright {
  font-size: 14px;
  color: #667085;
}

/* Mobile Styles */
@media (max-width: 767px) {
  .footer-section {
    padding: 30px 0;
  }

  .footer-logo {
    font-size: 20px;
  }

}
